<!-- extend the layout -->
{% extends 'app1/layout.html' %}
{% block content %}

<div class="container   ">
  <div class="row align-items-center regContainer">
    <div class="col-md-6 mx-auto background p-4">


      <a href="{% url 'main' %}">
        < Home 
      </a>

      <h3>
        {{task.n_task}}
      </h3>

      <div class=" py-3">
        <h5>
          id: {{task.id_task}}
        </h5>
        <h5>
          description: {{task.dc_task}}
        </h5>
        <h5>
          duration: {{task.dr_task}}
        </h5>
      </div>

      <div>
        <h4>Employees</h4>
        <ul>
          {% for emp in employee%}
          <li>{{emp.n_employee}}</li>
          {%empty%}
          <h1>No Employees</h1>
          {% endfor %}
        </ul>
      </div>


      <!-- check if the array is empty -->
      {% if nonEmployee %}
      <div>
        <form action="{% url 'task' task.id_task %}" method='POST'>
          {% csrf_token %}
          <select name="employee" id="" class="form-select" >
            {% for emp in nonEmployee %}
            <option value="{{emp.id_employee}}">{{emp}}</option>
            {% endfor %}
          </select>
          <button type="submit" class=" btn btn-primary mt-2">Add</button>
        </form>
      </div>
      {% endif %}
      
      <div class=" d-flex justify-content-end">

        <a href="{% url 'modify' task.id %}" class=" btn btn-primary mt-3" >Modify</a>
      </div>

    </div>
  </div>


</div>

{% endblock %}
